# Editor config

set tabsize 4
set tabstospaces

## Search using regex
set regexp

## Use mouse to select cursor position
## Double left-click to select text
## !!! Don't enable this shit. So goddamn frustrating.
# set mouse

## Scroll line-by-line
set smooth

## Show cursor position in status bar
set const

## Handy link to documentation:
## http://www.nano-editor.org/dist/v2.2/nano.1.html


# Syntax Highlighters

## Assembly
include "~/.nano/asm.nanorc"
## CSS
include "~/.nano/css.nanorc"
## HTML
include "~/.nano/html.nanorc"
## Java
include "~/.nano/java.nanorc"
## JavaScript
include "~/.nano/javascript.nanorc"
## Man
include "~/.nano/man.nanorc"
## nanorc
include "~/.nano/nanorc.nanorc"
## Python
include "~/.nano/python.nanorc"
## Ruby
include "~/.nano/ruby.nanorc"
## shell
include "~/.nano/sh.nanorc"
## XML
include "~/.nano/xml.nanorc"

